# Ignore these annoying OSX files
**/.DS_Store

# Ignore instance specific configuration files
instance/*
venv/*
reshare/instance/*

# Ignore .pyc files
*.pyc

# Do not ignore __init__.py files
!**/__init__.py
