# Ignore these annoying OSX files
**/.DS_Store

# Ignore instance specific configuration files
instance/*
venv/*
reshare/instance/*

# Ignore .pyc files
*.pyc
.htaccess

# Ignore temp .swp files
*.swp

# Do not ignore __init__.py files
!**/__init__.py
